<div class="container mt-5">
    <h1>Log in using GitHub</h1>
    <button onclick="register()">Sign in with GitHub</button>
    <br />
    <h2>You don't want to use GitHub? You can use our links:</h2>
    <p>Not registered?<button onclick="register()">Register here</button></p>
    <p>¿You already have an account with us?
    <a href="/users/login">Login here</a></p>
</div>